@import './../../../styles/variables';

.NavList {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;

    @media (max-width: 1160px) {
        width: 100%;
    }

    @media (max-width: $bp-small) {
        flex-direction: column;
    }
}

.Active {
    color: $color-mint-1 !important;   
    background-color: $color-light-mint-1;
}