@mixin flex-center-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flex-center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin fill-img-width {
    width: 100%;
    object-fit: fill;
}

@mixin fill-img-height {
    height: 100%;
    object-fit: fill;
}

@mixin bg-properties {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin top-bar {
    width: 80%;
    height: 9rem;
    background-color: $color-mint-1;
    margin: 0 auto;
}

@mixin foto-rel-auto {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
}

@mixin back-card-text {
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: .3rem;

    @media (min-width: $bp-largest) {
        font-size: 2.5rem;
        letter-spacing: .4rem;
    }
}
