@import './variables';
@import './mixins';


.TextInfo {
    font-size: 1.6rem;
    color: #0D0D0D;
    letter-spacing: .2rem;
    font-weight: 100;
    line-height: 2.5rem;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;

    @media (min-width: $bp-largest) {
        font-size: 3rem;
        line-height: 4.5rem;
    }
}

.Info {
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color: $color-white;

    @media (min-width: $bp-largest) {
        font-size: 2.7rem;
        line-height: 4rem;
    }

    @media (max-width: $bp-mobile-s) {
        font-size: 1.1rem;
    }

    &___title {
        font-size: 1.5rem;

        @media (min-width: $bp-largest) {
            font-size: 3rem;
            line-height: 5rem;
        }
    }

    &___tools {
        font-weight: 700;
        color: $color-dark-2;
        font-size: 1.6rem;

        /* @media (max-width: $bp-mobile-s) {
            font-size: 1.2rem;
        } */
    }

    &___footer {
        font-size: 1rem;
        font-weight: 100;
        letter-spacing: .4rem;

        @media (min-width: $bp-largest) {
            font-size: 1.6rem;
        }

        @media (max-width: $bp-mobile-l) {
            font-size: .8rem;
            letter-spacing: .3rem;
            line-height: 1.5rem;
        }
    }

    &___technologies {
        @include back-card-text;
        font-size: 1.4rem
    }

    &___skills {
        @include back-card-text;
        color: #0D0D0D;
        font-size: 1.4rem;
        line-height: 2.1rem;
    }
}

