@import './../../../styles/variables';
@import './../../../styles/mixins';

.burgerBox {
    display: none;
    width: 7rem;
    height: 7rem;
    position: fixed;
    top: 1rem;
    right: 0%;
    background-color: rgba($color-white, .8);
    padding: 1rem;
    opacity: 1;
    transform: rotate(0);
    transition: all .5s;
    z-index: 9999;
    border: none;
    outline-color: $color-dark-mint-2;

    &:hover {
        cursor: pointer;
    }


    @media (max-width: $bp-small) {
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 0;
        right: 0;
    }

    @media (max-width: $bp-mobile-s) {
        width: 5.5rem;
    }

    @media (max-width: 280px) {
        height: 5rem;
    }
}

.line {
    position: absolute;
    border-radius: 5px;
    width: 3.5rem;
    background-color: $color-green-dark;
    height: 5px;
    transition: all .3s;

    @media (max-width: 280px) {
        height: 3px;
    }

    &:nth-child(1) {
        top: 1.55rem;

        @media (max-width: 280px) {
            top: 1.15rem;
        }
    }

    &:nth-child(2) {
        top: 3.05rem;

        @media (max-width: 280px) {
            top: 2.15rem;
        }
    }

    &:nth-child(3) {
        top: 4.55rem;

        @media (max-width: 280px) {
            top: 3.25rem;
        }
    }
}

.open span:nth-child(2) {
    opacity: 0;
}

.open span:nth-child(1) {
    top: 3rem;
    transform: rotate(135deg);
}

.open span:nth-child(3) {
    top: 3rem;
    transform: rotate(-135deg);
}
