@import './../../../styles//variables';
@import './../../../styles/mixins';

.NavItem {
    width: 22rem;
    padding: 1.5rem;
    @include flex-center-row;

    @media (min-width: $bp-largest) {
        width: 30rem;
    }

    @media (max-width: $bp-small) {
        transform: scale(.7);
        transition: .3s;
    }
}

.NavItem:nth-child(1) {
    transition-delay: .17s;
}
.NavItem:nth-child(2) {
    transition-delay: .19s;
}
.NavItem:nth-child(3) {
    transition-delay: .21s;
}
.NavItem:nth-child(4) {
    transition-delay: .23s;
}
.NavItem:nth-child(5) {
    transition-delay: .25s;
}

.NavItem a, .NavItem a:visited {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 2rem;
    letter-spacing: .2rem;
    font-weight: 700;
    transition: all .3s;
    text-decoration: none;
    width: 100%;
    padding: 1.5rem;
    text-align: center;
    cursor: pointer;
    color: $color-light-pink-1; 

    @media (min-width: $bp-largest) {
        font-size: 3.1rem;
        line-height: 5rem;
        letter-spacing: .4rem;
    }

    @media (max-width: 1160px) {
        font-size: 1.3rem;
    }

    @media (max-width: $bp-medium-extra) {
        font-size: 1.1rem;
    }

    @media (max-width: $bp-small) {
        font-size: 1.5rem;
    }
}

.NavItem a:hover{
    color: $color-green-dark;   
    background-color: $color-light-pink-1; 
    text-shadow: 0 -1px 0 $color-light-mint-2;
    animation: hover .3s ease-out;
    
}

.Active {
    color: $color-green-dark !important;   
    background-color: $color-light-pink-1;
} 

@keyframes hover {
    15% {
        transform-origin: center;
        transform: scale(1.2, 1.1);
    }
    40% {
        transform-origin: center center;
        transform: scale(0.94, 0.94);
    }
    75% {
        transform-origin: center center;
        transform: scale(1.05, 1);
    }
    100% {
        transform-origin: center center;
        transform: scale(1, 1);
    }
}

.Animate {
    transform: scale(1);
}

